<div class="productListHome velaProducts";
        {%- if section.settings.sub-title != blank -%}
        <img src="{{section.settings.why-img}}" alt="">
        {%- endif -%}
</div>

{% schema %}
    {
        "name": "why intro",
        "class": "why-intro",
        "settings":[
            {
                "type": "image_picker",
                "id": "why-img",
                "label": "why images"

            }
             
        ],
        "presets": [
            {
                "name": "Why intro ",
                "category": "CTA"
                 
            }
        ]
    }
{% endschema %}