<div class="custom-text-section">
  <h2> {{ section.settings.custom_text_title }} </h2>
  <div>{{ section.settings.custom_text_body }}</div>
  <img src="{{section.settings.image}}" alt="">
</div>

{% schema %}
  {
    "name": "Texte",
    "settings": [
      {
        "id": "custom_text_title",
        "type": "text",
        "label": "Titre",
        "default": "Entrer le titre"
      },
      {
        "id": "custom_text_body",
        "type": "richtext",
        "label": "Texte",
        "default": "<p>Entrer le texte</p>"
      }
    ],
    "presets": [
      {
        "name": "Texte",
        "category": "Custom"
      }
    ],
    "blocks": [
      {
        "name": "Texte",
        "type": "text",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Insérer une image"

          }
        ]  
      }
    ]
  }
{% endschema %}