<div class="custom-text-section">
    <h2> {{ section.settings.custom_text_title }} </h2>
    <div>{{ section.settings.custom_text_body }}</div>
  </div>
  
  {% schema %}
    {
      "name": "Test",
      "settings": [
        {
          "id": "custom_text_title",
          "type": "text",
          "label": "Titre",
          "default": "Entrer le titre"
        },
        {
          "id": "custom_text_body",
          "type": "text",
          "label": "Texte",
          "default": "<p>Entrer le texte</p>"
        }
      ],
      "presets": [
        {
          "name": "Test",
          "category": "Custom"
        }
      ],
      "blocks": [
        {
          "name": "Test",
          "type": "text",
          "settings": [
            {
              "id": "custom_text_body",
              "type": "text",
              "label": "Paragraphe",
              "default": "<p>Entrer le texte</p>"
            }  
          ],  
          "presets": [
          {
            "name": "Test",
            "category": "Custom"
          }
        ],
        }
      ]
    }
  {% endschema %}