<div class="footer">
  <h2>{{ section.settings.test_title }}</h2>
  <p>{{ section.settings.test_text }}</p>
</div>

{% schema %}
    {
        "name": "Footer Image",
        "class": "image",
        "settings":     [
            {
                "id": "footer-image-heading",
                "type": "text",
                "label": "footer-image-heading",
                "default": "Enter heading text here"
            },
            {
                "id": "footer-image",
                "type": "image_picker",
                "label": "footer-image"

            },
            {
                "id": "footer-image-url",
                "type": "url",
                "label": "Enter url here"
            }
        ]
    }
{% endschema %}