<div class="custom-text-section">
  <h2> {{ section.settings.custom_text_title }} </h2>
  <div>{{ section.settings.custom_text_body }}</div>

  {%- if section.settings.sub-title != blank -%}
  <img src="{{section.settings.why-img |  img_url: 'master'}}" alt="">
  {%- endif -%}
</div>

{% schema %}
  {
    "name": "Texte",
    "settings": [
      {
        "id": "custom_text_title",
        "type": "text",
        "label": "Titre",
        "default": "Entrer le titre"
      }
    ],
    "presets": [
      {
        "name": "Texte",
        "category": "Custom"
      }
    ],
    "blocks": [
    {
      "name": "Texte",
      "type": "text",
      "settings": [
        {
          "id": "custom_text_body",
          "type": "richtext",
          "label": "Texte",
          "default": "<p>Entrer le texte</p>"
        },
        {
          "type": "image_picker",
          "id": "why-img",
          "label": "why images"

      }
      ]
    }
  ]
  }
{% endschema %}