<div class="image" {{ block.shopify_attributes }}>
    {{ block.settings.image | image_url: width: 2048 | image_tag }}
</div>


{% schema %}
{
  "name": "image",
  "tag": "section",
  "class": "image",
  "max_blocks": 5,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    }
  ],
  "blocks": [
     {
       "name": "image",
       "type": "image",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
   ],
  "presets": [
     {
       "name": "image",
       "settings": {
          "title": "image"
        }
     }
   ]
}
{% endschema %}